@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-color: palegoldenrod;
}

/* Navbar styles */
nav {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: black;
}

nav a {
  color: black;
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 34.5rem;
  width: 34.5rem;
  margin-bottom: 20px;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  background-color: white;
}

.bio h2 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

/* More About Section */
.more-about {
  padding: 1rem 6rem;
  margin: 0 10%;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

.education-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #dddff5;
}

.education-table th,
td {
  padding: 20px;
  margin: 0;
  border: 2px solid black;
  box-shadow: 0 0 7px 0 black;
}

/* Skills Section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-wrapper .first-set,
.skills-wrapper .second-set {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Interests Section */
.interests {
  margin-top: 2rem;
  padding: 1rem 6rem;
  margin: 0 10%;
}

.interests h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 300px;
  position: relative;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  color: white;
}

.carousel-item-content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  color: black;
  margin: auto;
}

.carousel-item:nth-child(1) {
  background-image: url('\..\\images\\interests1.jpg');
}

.carousel-item:nth-child(2) {
  background-image: url('\..\\images\\interests2.jpg');
}

.carousel-item:nth-child(3) {
  background-image: url('\..\\images\\interests3.png');
}

.carousel-item:nth-child(4) {
  background-image: url('\..\\images\\interests4.jpg');
}

.carousel-item:nth-child(5) {
  background-image: url('\..\\images\\interests5.jpg');
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

/* Achievements Section */
#achievements {
    padding: 2rem 6rem;
    /* background-color: var(--bg-color); */
    margin: 2rem 10%;
}

#achievements h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.achievements-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.achievement {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 1rem;
    text-align: center;
    max-width: 300px;
}

.achievement img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
}

.achievement p {
    font-weight: var(--bold-font);
    margin-bottom: var(--bottom-margin);
}


/* Contact Section */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

/* Social Accounts */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

/* Footer Section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

/* Scroll to Top */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

/* Responsive Styles */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .bio {
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }

  .carousel-item {
    padding: 10px;
  }

  .carousel-controls button {
    padding: 5px;
    font-size: 14px;
  }

  #achievements {
    padding: 1rem 3.5rem;
    margin: 2rem 5%;
}

.achievements-container {
    flex-direction: column;
    align-items: center;
}

.achievement {
    width: 100%;
    max-width: 400px;
}
}

@media screen and (max-width: 400px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }

  .carousel-item {
    padding: 5px;
  }

  .carousel-item h5 {
    font-size: 18px;
  }

  .carousel-item p {
    font-size: 14px;
  }

  .carousel-controls button {
    padding: 5px;
    font-size: 12px;
  }
}
